{% if page.section != 'sponsors' %}{% include footer_sponsors.html %}{% endif %}
<div id="footer-nav">
  <div class="page-container">
    <ul class="footer-nav">
      <li><a href="/conduct">Code of conduct</a></li>
      <li><a href="/scholarships">Scholarships</a></li>
      <li><a href="/sponsors">Sponsors</a></li>
      <li><a href="/volunteers">Volunteers</a></li>
    </ul>
  </div>
</div>

<div id="footer-details">
  <div class="page-container">
    <div>
      <h3>Keep in touch</h3>
      {% include touch.html %}
      <h3>Previous events</h3>
      {% include prior_events.html %}
    </div>
    <div>
      <h3>About SRCCON events</h3>
      <p>
        OpenNews runs several journalism events each year. The largest is
        <a href="/about">SRCCON</a>, a mid-year conference for about 300 developers, designers, and
        data analysts. We also gather small working groups and convenings, and topically focused
        SRCCON-style events.
      </p>
      <p><a href="https://creativecommons.org/licenses/by/4.0/deed.en">CC Attribution 4.0</a></p>
    </div>
  </div>
</div>
