<!doctype html>
<html lang="en-US">
  <head>
    {% include headmeta.html %}
  </head>

  <body class="{{ page.section }}">
    <header>
      <nav id="header-nav">
        <div class="page-container">
          <a href="/" id="corner-logo">
            <img src="/media/img/srccon_logo.png" alt="SRCCON logo" />
          </a>
          {% include navigation.html %}
        </div>
      </nav>

      {% if page.photocredit != null %}
      <div id="header-image">
        <span class="photo-credit">
          Photo:
          <a href="{{ page.photocredit_url }}">{{ page.photocredit }}</a>
        </span>
      </div>
      {% endif %}

      <div id="header-callout">
        <div class="page-container">
          <span
            >{{ page.event_name }} &bull; {{ page.event_date }} in&nbsp;{{ page.event_place_abbr
            }}</span
          >
          <a href="{{ page.cta_button_link }}" class="button">{{ page.cta_button_text }}</a>
        </div>
      </div>
    </header>

    <main>
      <div class="page-container">{{ content }}</div>
    </main>

    <footer>{% include footer.html %}</footer>
  </body>
</html>
